@import "tailwindcss";

@plugin "daisyui" {
  themes: lofi --default;
  logs: false;
}

@theme {
  --font-sans: "Onest", sans-serif;
  --font-mono: "Geist Mono";
}

body:has(#asset-detail-panel.open) {
  @apply overflow-hidden w-full h-full relative pr-4;
}
